@model List<Actor>
@*{
    ViewData["Title"]="List Of Actors";
    }
@*Write Code*@
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table>
            <thead>
                <tr>Profile Picture URL</tr>

            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>